body {
  background-color: #0D1117;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  margin-bottom: 20px;
  background-color: transparent;
  padding: 10px 20px;
  color: #fff;
}

button {
  box-shadow: none;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  background-color: green;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;

}

.close {
  text-decoration: line-through;
}

.btnCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}